.landing-button {
    color: #fff;
    background-color: #000;
    font-size: 24px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}

.landing-button:hover {
    color: #f1c40f;
}

.landing h1, h2 {
    color: #fff;
}
